<div class="container-painel">

  <div class="container-painel-central">

      <div class="container-header">
          <div class="titulo-painel">
              Menu
          </div>
          <div class="info-painel">
              Escolha seu Painel
          </div>

      </div>


      <div class="container-form">
              <div class="group-input">
                <button class="button" type="submit" onclick="">Gestao de Acessos</button>
                <button class="button" type="submit">Feature Flags</button>
              </div>
      </div>
    </div>
</div>

