<navbar></navbar>
<sidebar></sidebar>
<div class="container-base">

  <div class="content-page">
      <div class="card-header">
          <div class="card-title">
              Gestão de Mudanças
          </div>
      </div>

      <div class="card">
        <p-table [columns]="cols" [value]="mudancas" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                    <th style="text-align: center">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>
                    <td>
                      <div style="display: flex; gap: 1rem; justify-content: center">

                        <p-button
                          icon="pi pi-check-circle"
                          styleClass="p-button-rounded p-button-text"
                          (click)="showDialogsalvar()"

                        ></p-button>

                        <p-button
                        icon="pi pi-times"
                        styleClass="p-button-rounded p-button-secondary p-button-text"
                        sytle="color:red"
                        (click)="showDialogexcluir()"
                        ></p-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <p-dialog
          header="Adicionar Grupos Distribuição"
          [(visible)]="visible"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '50vw' }"
          [draggable]="false"
          [resizable]="false"
        >
          <div class="container-form">
            <div class="group-input">

              <div class="text-info">Nome da Flag</div>
              <input
                class="input-form"
                type="text"
                name="nomeFlag"
                id="nomeFlag"
                placeholder="Nome"
                required=""
              />
               <div class="text-info">Atributo Alterado</div>
               <input
                class="input-form"
                type="text"
                name="atributoAlterado"
                id="atributoAlterado"
                placeholder="Atributo"
                required=""
              />
              <div class="text-info">Situação Atual</div>
               <input
                class="input-form"
                type="text"
                name="situacaoAtual"
                id="situacaoAtual"
                placeholder="situacaoAtual"
                required=""
              />
              <div class="text-info">Situação Anterior</div>
               <input
                class="input-form"
                type="text"
                name="situacaoAnterior"
                id="situacaoAnterior"
                placeholder="situacaoAnterior"
                required=""
              />
              <div class="text-info">Data Inclusao</div>
               <input
                class="input-form"
                type="text"
                name="dataInclusao"
                id="dataInclusao"
                placeholder="dataInclusao"
                required=""
              />
              <div class="text-info">Data Atualizacao</div>
               <input
                class="input-form"
                type="text"
                name="dataAtualizacao"
                id="dataAtualizacao"
                placeholder="dataAtualizacao"
                required=""
              />
              <p-button icon="pi pi-save" styleClass="p-button-rounded p-button-text"></p-button>
            </div>
          </div>
        </p-dialog>
        <p-dialog header="Salvar Mudança" [(visible)]="displayDialogsalvar" [style]="{width: '50%'}">
          <div style="height: 70px; overflow-y: auto;">
              <!-- Scrollable content -->
              <p>Confirma a ação ?</p>
              <!-- Add more content here -->
              <!-- ... -->
          </div>
          <ng-template pTemplate="footer">
              <!-- Actions -->
              <button pButton type="button" (click)="closeDialogsalvar()" label="Sim"></button>
              <button pButton type="button" (click)="closeDialogsalvar()" label="Não"></button>
              <!-- Add more buttons or actions here -->
              <!-- ... -->
          </ng-template>
      </p-dialog>
      <p-dialog header="Excluir Mudança" [(visible)]="displayDialogexcluir" [style]="{width: '50%'}">
        <div style="height: 70px; overflow-y: auto;">
            <!-- Scrollable content -->
            <p>Confirma a ação ?</p>
            <!-- Add more content here -->
            <!-- ... -->
        </div>
        <ng-template pTemplate="footer">
            <!-- Actions -->
            <button pButton type="button a" (click)="closeDialogexcluir()" label="Sim"></button>
            <button pButton type="button b" (click)="closeDialogexcluir()" label="Não"></button>
            <!-- Add more buttons or actions here -->
            <!-- ... -->
        </ng-template>
    </p-dialog>
