.container-sidebar {
  padding-top: 10px;
  position: fixed;
  border-radius: 10px;
  width: 170px;
  height: 880px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);


  .container-icone-menu
  {
      padding: 8px;
      font-size: 8px;
  }

  .caixa-menu
  {
      width: 150px;
      height: 77px;
      border-radius: 4px;
      background: rgba(58, 58, 58, 0.614);
      cursor: pointer;
  }

  .caixa-menu-select
  {
      background: #0891b2 !important;
  }

  .caixa-menu-texto{

      font-size: 12px;
      display: flex;
      justify-content:space-around;
      align-items: center;
      color: #fefefe;
  }

}
body {
  font-family: "Poppins";
  margin: 0;
  background: #00003c;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

input {

  background: #ffffff;
  box-sizing: border-box;
  width: 397px;
  height: 44px;
  border: 1px solid #ccd4db;
  border-radius: 4px;
  padding: 8px;
  color: #6e778b;
}

.error-input {
  font-size: 14px;
  color: red;
}

.btn-primary {
  color: #fff;
  background-color: #00003c;
  border-color: #4caf50;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2),
  0 1px 5px 0 rgba(156, 39, 176, 0.12);

  cursor: pointer;
  min-width: 150px;
  width: auto;
}
.my-3 {
 left: 60%;
}
.container-base {
  padding: 0px 8px 0px 176px;


  .content-page {
    background: white;
    padding: 16px;
    border-radius: 10px;
    min-height: 880px;
    min-width: 352px;
    .card-header {
      z-index: 3 !important;
      width: 100%;
      height: 80px;
      background-color: #00003c;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
      border-radius: 8px;
      margin-bottom: 16px;

      .card-title {
        color: #fff;
        padding-top: 26px;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        text-align: center;

      }
    }
    .form-page {
      display: grid;
      justify-content: center;

      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;

        .group-row {
          display: grid;
        }
      }
    }
  }
}
