.container-sidebar {
  padding-top: 10px;
  position: fixed;
  border-radius: 10px;
  width: 170px;
  height: 880px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);


  .container-icone-menu
  {
      padding: 8px;
      font-size: 8px;
  }

  .caixa-menu
  {
      width: 150px;
      height: 77px;
      border-radius: 4px;
      background: rgba(58, 58, 58, 0.614);
      cursor: pointer;
  }

  .caixa-menu-select
  {
      background: #0891b2 !important;
  }

  .caixa-menu-texto{

      font-size: 12px;
      display: flex;
      justify-content:space-around;
      align-items: center;
      color: #fefefe;
  }

}
